/*
html {
    background-image: url("img/5837749f-f809-49c0-b588-eeadf9f60e81.jpg");
    background-position: left top;
    background-repeat: repeat;
}

*/



body {
   background-color: #f0f0f0;

}


.login-div {
    padding: 15px;
    border: solid;
    box-shadow: 0 0 2px #777;
    display: inline-block;
}

.login-div input {
    padding: 3px;
    display: block;
    margin-bottom: 7px;
}

.login-div input[type="email"] {
    border: solid 1px blue;
}

.login-div input[class*="blue"] {
    border: solid 1px red;
}

.login-div button:hover {
    box-shadow: 2px 2px 3px #c0c0c0;
}

.login-div input:focus {
    box-shadow: 2px 2px 3px #c0c0c0;
    border: none;
}

ul li:first-child {
    color: red;
}

ul li:nth-child(2) {
    color: blueviolet;
}

h1 {
    color: blue;
}

p  {
    color: red;
    font-size: 14px;
}
img {
    display: block;
    width: 300px;
    margin-top: 10px;
    /* margin: 0.02% */;
}